@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';
* {
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  color: rgb(172, 170, 190);
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(151, 18, 18, 0.6901960784);
  font-size: 14px;
  overflow: hidden;
}

.wrap {
  perspective-origin: 50% 50%;
}

.page {
  margin: 3%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 3px;
  text-align: center;
  font-size: 1.4vw;
}
.page h2 {
  font-weight: bold;
  font-size: 6.5vw;
  font-weight: 900;
  font-style: italic;
  color: #dad8ec;
}

.svg {
  stroke: #7ceaa4;
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
}

.svg:nth-child(1) {
  left: -8%;
  -webkit-animation: raise1 14s linear infinite;
          animation: raise1 14s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  transform: scale(-0.3) rotate(247deg);
  z-index: -6;
  filter: blur(-5px);
}
@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(161deg);
  }
}
@keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(161deg);
  }
}

.svg:nth-child(2) {
  left: 15%;
  -webkit-animation: raise2 8s linear infinite;
          animation: raise2 8s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: scale(0) rotate(274deg);
  z-index: -5;
  filter: blur(-4px);
}
@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(246deg);
  }
}
@keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(246deg);
  }
}

.svg:nth-child(3) {
  left: 92%;
  -webkit-animation: raise3 11s linear infinite;
          animation: raise3 11s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: scale(0.3) rotate(72deg);
  z-index: -4;
  filter: blur(-3px);
}
@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(329deg);
  }
}
@keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(329deg);
  }
}

.svg:nth-child(4) {
  left: 72%;
  -webkit-animation: raise4 18s linear infinite;
          animation: raise4 18s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: scale(0.6) rotate(337deg);
  z-index: -3;
  filter: blur(-2px);
}
@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(277deg);
  }
}
@keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(277deg);
  }
}

.svg:nth-child(5) {
  left: 41%;
  -webkit-animation: raise5 8s linear infinite;
          animation: raise5 8s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  transform: scale(0.9) rotate(292deg);
  z-index: -2;
  filter: blur(-1px);
}
@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(212deg);
  }
}
@keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(212deg);
  }
}

.svg:nth-child(6) {
  left: 15%;
  -webkit-animation: raise6 13s linear infinite;
          animation: raise6 13s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: scale(1.2) rotate(99deg);
  z-index: -1;
  filter: blur(0px);
}
@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(106deg);
  }
}
@keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(106deg);
  }
}

.svg:nth-child(7) {
  left: -11%;
  -webkit-animation: raise7 9s linear infinite;
          animation: raise7 9s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: scale(1.5) rotate(265deg);
  z-index: 0;
  filter: blur(1px);
}
@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(212deg);
  }
}
@keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(212deg);
  }
}

.svg:nth-child(8) {
  left: 92%;
  -webkit-animation: raise8 18s linear infinite;
          animation: raise8 18s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: scale(1.8) rotate(317deg);
  z-index: 1;
  filter: blur(2px);
}
@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(212deg);
  }
}
@keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(212deg);
  }
}

.svg:nth-child(9) {
  left: 59%;
  -webkit-animation: raise9 12s linear infinite;
          animation: raise9 12s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: scale(2.1) rotate(148deg);
  z-index: 2;
  filter: blur(3px);
}
@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(216deg);
  }
}
@keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(216deg);
  }
}

.svg:nth-child(10) {
  left: 72%;
  -webkit-animation: raise10 9s linear infinite;
          animation: raise10 9s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: scale(2.4) rotate(351deg);
  z-index: 3;
  filter: blur(4px);
}
@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(260deg);
  }
}
@keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(260deg);
  }
}/*# sourceMappingURL=style.css.map */